*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: SolaimanLipi;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: solaiman;

    
   
    
  
    src: url(assets/solaiman/SolaimanLipi_29-05-06.ttf) format("truetype"); 
} 
@font-face {
    font-family:SolaimanLipi;
    
    src:url(css/SolaimanLipi.ttf);
    src:url(css/SolaimanLipi.woff);
    src:url(css/SolaimanLipi.eot)format('embedded-opentype'),
 
    url(css/SolaimanLipi.woff) format('woff'),
    url(css/SolaimanLipi.ttf) format('truetype'),
    url(css/SolaimanLipi.eot) format('eot');
    font-weight:400;
    font-style:normal
   }
   h1, h2, h3, h4, h5, h6, p, a {
    font-family: SolaimanLipi;
}



.hero a{
    text-decoration: none;
    color: black;
   
}
.news-post .no-padding {
    padding: 0%;
}

.category-meta
{
    color: #eb0254;
    font-size: 20px;
}


h1, h2, h3, h4, h5, h6{
    line-height: normal;
}

h3{
    font-size: 24px;
    line-height:1.5rem !important;

}

.wrapper3
{
    background-color: black;
    color: white;
    
}
.wrapper3 a{
    color: white !important;
   
}
.wrapper3 a:hover{
    color: rgb(223, 149, 12) !important;
   
}
.category-meta:hover{
    color: rgb(223, 149, 12) !important;
}



.active {
    
    
    text-decoration: none;
    
}
h1, h2, h3, h4, h5, p {
    font-family: SolaimanLipi;
}
.active a
{
    color: #fff;
    text-decoration: none;
    
}

.active a:hover
{
    color: #eb0254;
}

.social
{
    font-size: 13px;
    
}
.social a{
    letter-spacing: 0.2rem;
}




 .navbar .nav-item .nav-link 
{
    
    font-size: 20px;
    
    
    text-align: center;
    color: #fff;
    
    
}

.mynav a:hover{
    color:  #eb0254 !important;
}


.menu{
    background-color: #0c2b57!important;
    
}

.menu .nav-item .nav-link a:hover{
    color: red;
}

.hero .news
{
    background-color: #0c2b57!important;
    margin-top: 15px;
   color: #fff;
   padding-left:1rem; 
}

nav.navbar.bootsnav ul.nav>li>a {
    padding: 15px;
    font-weight: 500;
    color: #24252f;
    letter-spacing: .5px;
    
}
p{
    line-height: normal;
}



.hero .news h5
{
    font-weight: bold;
    
    margin-top: 10px;
}

.card p
{
    font-weight: bold;
}

.categories .row
{
    margin-top: 20px;
}

.hero .fooditem
{
    background-color: black;
    color: white;
}


/*jatio*/

.navbar .navbar-brand{
    font-size: 2em;
    background-color: #f4c900;
    padding: 15px 20px;
    margin-right: 25px;

    
   
}

.navbar .navbar-brand a:after
{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    border-top: 25px solid #f0f0f0;
    border-bottom: 25px solid #f0f0f0;
    border-left: 25px solid #f4c901;
}



.navbar-subcat  {
    
    position: absolute;
    z-index: 1;
}
.navbar-subcat ul li
{
    list-style: none;
    display: block;
    position: relative;
}



.row .col-xs-6
{
    width: auto;
    overflow: hidden;

}

.row .col-xs-6 img
{
    width: 50%;
    
}


.row
{
    padding-bottom: 1rem;
}

.footer a:hover
{
    color: #eb0254;
}
.footer a
{
    color: black;
    text-decoration: none; 
}

.binodon a
{
    color: black;
    
}


.href{
    text-decoration: none;
    color: black;
}

.photogallery
{
    color: white;
}

.video .iframe-container
{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    
}

.verticalLine
{
    border-right: 1px solid #dddddd;
    
}
.table-fixed .col
{
    width: 25%;
}

.table-fixed tbody
{
  display:block;
  height: 300px;
  overflow-y: auto;
}
.table-fixed tr{
    display: block;

}
.table-fixed
{
    margin-left: 25rem;
    margin-top: 10rem;
}



.table-fixed tbody td,
.table-fixed thead>tr>th{
    float: left;
    font-size: 14px;
    padding-left: 20px !important;
}


.hero-title
{
    font-size: 34px;
}

.hero p{
    font-size: 18px;
}
h4
{
    font-size: 19px;
}


h5{
    font-size: 25px;
}

h6{
    font-size: 20px;
}


p
{
    font-size: 16px;
}



.shaad .post{
    margin-left: 5px;
    padding-bottom: 20px;
}

.post-title
{
    margin-bottom: 60px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 19px;
}

.hero .hero-p
{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.hero .hero-h
{

    font-size: 24px;
}



.image-fluid
{
    min-height: 225;
}

.shaad .shaad-post-title
{
    padding-top: 5px;
    
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 5px;
}
.shaad-post-title h6:hover
{
    color: #f4c900 !important;
}
 

.everything .everything-post-title
{
    
    padding-top: 5px;
    
    
  
}


.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .tab .nav-pills{
    display: flex;
    justify-content: space-evenly;
    
}

.tab .nav-pills a{
    color: white;
}

.items
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.hero .wrapper
{
    height: 20rem;
    display: flex;
    flex-direction: column;

}

.article .wrapper
{

    height: 30rem;
    display: flex;
    flex-direction: column;
    line-height: 0%;
}
.hero .wrapper h4
{
   
    line-height: 0rem;
}
.othernews .article-bottom h4
{
    line-height: 1 !important;
}

.tab .nav-item a:hover {
    color: #fff;
    background-color: #16224d;
    border: 1px solid #fff;
 
   
}
.nav-item
{
    list-style: none;
    text-align: center;
}

.nav-tabs
{
    display: flex;
    ;
}

.othernews .row a {
    text-decoration: none;
    color: black;
}

.section ul 
{
    list-style-type: none;
    display: flex;
}

.section ul li{
    padding: 0 0.2rem;
    font-size: 2rem;
}

.fa-facebook-square
{
    color: #0c2b57;
}
.fa-whatsapp-square
{
    color: rgb(45, 133, 45);
}

.post .ad{
    margin-left: 30%;
}

/*jatio last section */
.img-text
{
    display: flex;
}
.img-text .image {
   width: 160px;
   height: 90px;
}



@media (max-width: 500px)
{
    
   
    .hero .img-area .single-img
    { 
        display: flex;
        justify-content: center;
    }

        h5   
        {
            line-height: 1;
        }
        .othernews hr
        {
            display: none;
        }
           
    
        




.desherkhobor h4
{
    line-height: 1 !important;
}
.jatio .first
{ 
    margin-right: 15px !important;
}

p {
     font-size: 20px !important;
};



}


@media (min-width: 500px)
{
    .hero .container .news
    {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .everything .mainrow .height
{
  min-height: 50%;
}

}



@media (min-width: 1500px )
{

   .container {
    max-width: 1440px;
}


}

